/* Color Theme Swatches in Hex */
/*
$major-color: #F23847;
$major-color-hover: #BF3945;
$major-color-dark: #400711;
$major-color-light: #F28888;
$major-color-lighter: #F2BBBF;
*/
:root {
  --mr-font: "Source Sans Pro", HelveticaNeue-Light, Helvetica,Arial, "Lucida Grande", sans-serif;
  --mr-body-bg: #ffffff;
  --mr-text-color: #666666;
  --mr-heading-color: #252525;
  --mr-dark-bg-color: #252525;
  --mr-light-color: #999999;
  --mr-border-color: #ececec;
  --mr-major-color: #F23847;
  --mr-major-color-hover: #BF3945;
  --mr-major-color-dark: #400711;
  --mr-major-color-light: #F28888;
  --mr-major-color-lighter: #F2BBBF;
}

body {
  font-family: var(--mr-font);
  background: var(--mr-body-bg);
  color: var(--mr-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 26px;
}

.site-content {
  padding-bottom: 60px;
}

.home.blog .site-header,
.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header {
  margin-bottom: 60px;
}

.type-fade {
  opacity: .5;
}

.type-uppercase {
  text-transform: uppercase;
}

.type-bold {
  font-weight: bold;
}

.type-italic {
  font-style: italic;
}

.type-strikethrough {
  text-decoration: line-through;
  opacity: .5;
}

.type-underline {
  text-decoration: underline;
}

blockquote {
  border-left: 4px solid #000;
  padding: 0 0 0 18px;
  margin-bottom: 20px;
}
blockquote p {
  font-style: italic;
}
blockquote cite {
  font-weight: 600;
  font-style: normal;
}

.user-modal-overlay,
.maester-popup-search-overlay {
  cursor: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.227 19.353L10 13.126l-6.227 6.227a2.21 2.21 0 0 1-3.126-3.126L6.874 10 .647 3.773A2.21 2.21 0 0 1 3.773.647L10 6.874 16.227.647a2.21 2.21 0 0 1 3.126 3.126L13.126 10l6.227 6.227a2.21 2.21 0 0 1-3.126 3.126z' fill='%23F23847' fill-rule='evenodd'/%3e%3c/svg%3e"), auto;
}

.fa-before, #secondary-menu li.menu-item-has-children > a::after,
#primary-menu li.menu-item-has-children > a::after,
#top-bar-menu li.menu-item-has-children > a::after {
  content: '\f107';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: inherit;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  -webkit-appearance: none;
  background: #fcfcfc;
  padding: 9px;
  border-radius: 3px;
  border: 1px solid var(--mr-border-color);
  line-height: 22px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type]:active, textarea:active, select:active {
  outline: none;
}

input[type]:focus, textarea:focus, select:focus {
  outline: none;
}

input[type], select, textarea {
  padding-left: 13px;
}

img {
  display: block;
}

a {
  display: inline-block;
  color: var(--mr-major-color);
  text-decoration: none;
}
a:visited {
  color: var(--mr-major-color);
}
a:visited:hover, a:hover {
  text-decoration: underline;
  color: var(--mr-major-color-hover);
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin: 0 0 10px;
}

ul,
ol {
  list-style: none;
  line-height: 26px;
}

ul.bullets {
  list-style: inside;
}

ol {
  list-style-type: upper-roman;
  list-style-position: inside;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: var(--mr-heading-color);
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: .5407911001em;
}

blockquote + h2,
blockquote + h3,
blockquote + h4,
blockquote + header h2,
form + h2,
form + h3,
form + h4,
form + header h2,
ol + h2,
ol + h3,
ol + h4,
ol + header h2,
p + h2,
p + h3,
p + h4,
p + header
h2, t
able + h2,
table + h3,
table + h4,
table + header h2,
ul + h2,
ul + h3,
ul + h4,
ul + header h2 {
  margin-top: 2em;
}

.h1,
h1 {
  font-size: 42px;
  line-height: 1.12;
  letter-spacing: -1px;
}

.h2,
h2 {
  font-size: 32px;
  line-height: 1.214;
}

.h3,
h3 {
  font-size: 26px;
  line-height: 1.2;
}

.h4,
h4 {
  font-size: 17px;
  line-height: 1.2;
}

.h5,
h5 {
  font-size: 13px;
  line-height: 1.2;
}

.h6,
h6 {
  font-size: 11px;
  line-height: 1.2;
}

aside.widget-area .widget::after {
  content: '';
  display: block;
  clear: both;
}

.clearfix {
  content: '';
  display: block;
  clear: both;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.search-form label {
  display: block;
  width: 100%;
}
.search-form label input {
  width: 100%;
}
.search-form label + input {
  margin-top: 10px;
  display: none;
}

.widget::after {
  content: '';
  display: table;
  clear: both;
}

.clear::after,
.clear::before,
.comment-content::after,
.comment-content::before,
.entry-content::after,
.entry-content::before,
.site-content::after,
.site-content::before,
.site-footer::after,
.site-footer::before,
.site-header::after,
.site-header::before {
  content: '';
  display: table;
}

.clear::after,
.comment-content::after,
.entry-content::after,
.site-content::after,
.site-footer::after,
.site-header::after {
  clear: both;
}

/**
 * Button Styles
 */
.btn, input[type="submit"], .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a,
button {
  font-family: Open Sans, 'Helvetica', 'Arial', sans-serif;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  border-radius: 3px;
  color: var(--mr-heading-color);
  border: 1px solid var(--mr-light-color);
  font-size: 12px;
  line-height: 28px;
  background: transparent;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: uppercase;
  padding: 6px 26px;
  vertical-align: top;
}
.btn:hover, input[type="submit"]:hover, .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a:hover,
button:hover {
  text-decoration: none;
  color: var(--mr-major-color);
  border-color: var(--mr-major-color);
}
.btn + .btn, input[type="submit"] + .btn, .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a + .btn, .btn + input[type="submit"], input[type="submit"] + input[type="submit"], .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a + input[type="submit"], .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons .btn + a, .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons input[type="submit"] + a, .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a + a,
button + .btn,
button + input[type="submit"],
.cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons button + a {
  margin-left: 7px;
}
.btn.btn-lg, input.btn-lg[type="submit"], .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a.btn-lg,
button.btn-lg {
  padding-top: 8px;
  padding-bottom: 6px;
  padding-right: 39px;
  padding-left: 39px;
  font-size: 14px;
}
.btn.btn-lg + .btn, input.btn-lg[type="submit"] + .btn, .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a.btn-lg + .btn, .btn.btn-lg + input[type="submit"], input.btn-lg[type="submit"] + input[type="submit"], .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a.btn-lg + input[type="submit"], .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons .btn.btn-lg + a, .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons input.btn-lg[type="submit"] + a, .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a.btn-lg + a,
button.btn-lg + .btn,
button.btn-lg + input[type="submit"],
.cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons button.btn-lg + a {
  margin-left: 11px;
}
.btn.btn-primary, input[type="submit"], .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a.btn-primary, .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a:last-child, .btn.btn-primary:visited, input[type="submit"]:visited, .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a.btn-primary:visited, .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a:visited:last-child,
button.btn-primary,
button.btn-primary:visited {
  background: var(--mr-major-color);
  border-color: var(--mr-major-color);
  color: #fff;
}
.btn.btn-primary:hover, input[type="submit"]:hover, .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a.btn-primary:hover, .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a:hover:last-child, .btn.btn-primary:active, input[type="submit"]:active, .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a.btn-primary:active, .cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a:active:last-child,
button.btn-primary:hover,
button.btn-primary:active {
  background: var(--mr-major-color-hover);
  border-color: var(--mr-major-color-hover);
}

input[type="submit"]:active, input[type="submit"]:hover {
  background: var(--mr-major-color-hover);
  border-color: var(--mr-major-color-hover);
  color: #fff;
}

article.post-listing {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: 0;
}
article.post-listing .post-image {
  height: 192px;
  overflow: hidden;
  position: relative;
  text-indent: -99999px;
}
article.post-listing .post-image a {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.article-search {
  border-bottom: 1px solid var(--mr-border-color);
  margin-bottom: 0;
}

.post-column {
  margin-bottom: 30px;
}

.post-content-body {
  padding: 15px 15px 10px;
  border: 1px solid var(--mr-border-color);
  border-top-width: 0px;
}
.post-content-body .entry-title {
  overflow: hidden;
  height: 2.5em;
  font-size: 20px;
  line-height: 1.25;
  margin: 5px 0 15px;
  font-weight: 600;
}
.post-content-body .entry-title a {
  color: var(--mr-heading-color);
}
.post-content-body header {
  margin-bottom: 15px;
}
.post-content-body .entry-summary {
  margin: 0 0 20px;
  font-size: 14px;
  color: var(--mr-light-color);
}
.post-content-body .entry-footer {
  border-top: 1px solid var(--mr-border-color);
  padding: 10px 15px 0;
  margin: 0 -15px;
}
.post-content-body .entry-footer .entry-meta {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  font-style: italic;
  color: var(--mr-light-color);
}
.post-content-body .entry-footer .entry-meta a {
  font-style: normal;
  color: var(--mr-text-color);
}
.post-content-body .entry-footer .entry-meta a:hover {
  color: var(--mr-major-color);
}

.tags-links,
.cat-links {
  font-size: 14px;
}
.tags-links a,
.cat-links a {
  color: var(--mr-text-color);
  text-decoration: underline;
  font-weight: 600;
}
.tags-links a:hover,
.cat-links a:hover {
  color: var(--mr-major-color);
}

/**
 * Single Post Styles
 */
.maester-single-post-meta {
  font-size: 13px;
}
.maester-single-post-meta a {
  color: var(--mr-text-color);
  font-weight: 600;
  text-decoration: underline;
}

.maester-single-post {
  font-size: 16px;
}
.maester-single-post p {
  margin-bottom: 20px;
}
.maester-single-post header {
  margin-bottom: 40px;
  border-bottom: 1px solid var(--mr-border-color);
}
.maester-single-post footer.entry-footer {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid var(--mr-border-color);
}
.maester-single-post footer.entry-footer > span {
  display: block;
}

.post-navigation .nav-links {
  display: flex;
  font-size: 16px;
}
.post-navigation .nav-links > div {
  flex-grow: 1;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}
.post-navigation .nav-links > div a {
  text-decoration: underline;
  color: var(--mr-text-color);
  padding: 0 20px;
}
.post-navigation .nav-links > div a:hover {
  color: var(--mr-major-color);
}
.post-navigation .nav-links > div:hover::before {
  color: var(--mr-major-color);
}
.post-navigation .nav-links > div::before {
  content: "\f30b";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.post-navigation .nav-links > div.nav-previous::before {
  content: "\f30a";
  left: 0;
  right: auto;
}
.post-navigation .nav-links > div.nav-next {
  text-align: right;
}

header.site-header a:visited,
header.site-header a:active,
header.site-header a {
  color: var(--mr-text-color);
  text-decoration: none;
}
header.site-header a:visited:hover,
header.site-header a:active:hover,
header.site-header a:hover {
  color: var(--mr-major-color);
}

header.site-header {
  border-bottom: 1px solid var(--mr-border-color);
}

.top-bar {
  background: #fafafa;
  color: var(--mr-light-color);
  font-size: 13px;
  border-bottom: 1px solid var(--mr-border-color);
}
.top-bar p {
  margin: 0px;
  padding: 10px 0;
}

/**
 * Logo
 */
.custom-logo-link {
  display: inline-block;
}

.site-branding a {
  font-size: 25px;
  font-weight: 700;
  vertical-align: top;
}
.site-branding a img {
  max-width: none;
}
.site-branding p {
  font-size: 12px;
  margin: 5px 0 0;
  line-height: 16px;
}

.custom-search-form,
.site-branding,
.secondary-menu-container > ul {
  margin-top: 15px;
}

/**
 * custom-search-form
 */
.custom-search-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 350px;
}
@media (max-width: 767px) {
  .custom-search-form {
    width: 100%;
  }
}
.custom-search-form .nice-select {
  border-radius: 3px 0 0 3px;
  border-right: none;
}
.custom-search-form .nice-select.open, .custom-search-form .nice-select:focus, .custom-search-form .nice-select:active {
  border-color: var(--mr-major-color);
}
.custom-search-form .nice-select.open + input, .custom-search-form .nice-select:focus + input, .custom-search-form .nice-select:active + input {
  border-left-color: var(--mr-major-color);
}
.custom-search-form input[type="search"] {
  border-radius: 0 3px 3px 0;
  flex-grow: 1;
}
.custom-search-form button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  color: var(--mr-light-color);
}
.custom-search-form button:hover {
  color: var(--mr-major-color);
}

/**
 * Popup Search Form
 */
#maester-popup-search-form {
  position: fixed;
  top: 0;
  right: 5%;
  width: 90%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
#maester-popup-search-form .maester-popup-search-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#maester-popup-search-form .maester-pupup-search-inner {
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 425px;
  max-width: 100%;
}
#maester-popup-search-form input[type="search"] {
  margin-right: 6px;
  flex-grow: 1;
}

/**
 * Header Main
 */
.header-main {
  padding-top: 15px;
  padding-bottom: 5px;
}

/**
 * Header Menu-bar
 */
/**
 * Header Cart Menu
 */
.cart-menu-parent {
  position: relative;
}
.cart-menu-parent:hover .site-header-cart > li:last-child {
  opacity: 1;
  visibility: visible;
}
.cart-menu-parent .site-header-cart {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.cart-menu-parent .site-header-cart .widget,
.cart-menu-parent .site-header-cart li {
  margin: 0;
}
.cart-menu-parent .site-header-cart .woocommerce-mini-cart__empty-message {
  margin: 0;
  padding: 13px 18px;
}
.cart-menu-parent .site-header-cart > li:last-child {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fafafa;
  width: 230px;
  z-index: 9;
  border-radius: 0 0 4px 4px;
  border: 1px solid var(--mr-border-color);
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
}
.cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart li {
  padding: 13px 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
  display: block;
  width: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
.cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart li:nth-child(even) {
  background: #ffffff;
}
.cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart li a.remove {
  position: relative;
  float: left;
  top: auto;
  display: block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-weight: 400;
  text-indent: -9999px;
  font-size: 14px;
}
.cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart li a.remove:hover {
  background: transparent;
}
.cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart li a.remove::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  vertical-align: -.125em;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  line-height: inherit;
  vertical-align: baseline;
  content: "\f057";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #e2401c;
  line-height: 1.618;
  text-indent: 0;
  text-align: left;
}
.cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart li a:not(.remove) {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}
.cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart li .quantity {
  font-size: 14px;
}
.cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .total {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: none;
  padding: 7px 18px;
  text-align: center;
  background-color: var(--mr-border-color);
}
.cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons {
  padding: 8px 18px 0;
}
.cart-menu-parent .site-header-cart > li:last-child .widget_shopping_cart_content .buttons a {
  display: block;
  width: 100%;
  margin: 0 0 8px !important;
  text-align: center;
}

button.menu-toggle {
  line-height: 1;
  padding: 10px 12px;
}

.maester-breadcrumb-area {
  padding: 25px;
  margin-bottom: 55px;
}
.maester-breadcrumb-area .maester-breadcrumbs {
  font-size: 13px;
}
.maester-breadcrumb-area .maester-breadcrumbs .breadcrumbs__separator {
  padding: 0 6px;
}
.maester-breadcrumb-area .maester-breadcrumbs a {
  color: var(--mr-text-color);
}

#top-bar-menu {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
#top-bar-menu li {
  display: inline-block;
}
#top-bar-menu li a {
  color: var(--mr-light-color);
  font-weight: 400;
  padding: 10px 5px;
  display: block;
}
#top-bar-menu li a:hover {
  color: var(--mr-major-color);
}
#top-bar-menu li:last-child {
  padding-right: 0;
}

/**
 * Main Navigation Menu
 */
#secondary-menu,
#primary-menu {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#secondary-menu > li,
#primary-menu > li {
  display: inline-block;
}
#secondary-menu > li > a,
#primary-menu > li > a {
  padding: 28px 10px;
  display: inline-block;
}
#secondary-menu > li > a:hover,
#primary-menu > li > a:hover {
  text-decoration: underline;
}
#secondary-menu > li:first-child > a,
#primary-menu > li:first-child > a {
  padding-left: 0;
}
#secondary-menu > li:last-child > a,
#primary-menu > li:last-child > a {
  padding-right: 0;
}

#secondary-menu {
  font-size: 14px;
}
#secondary-menu > li > a {
  padding: 8px;
}
#secondary-menu > li:first-child > a {
  padding-left: 0;
}
#secondary-menu > li:last-child > a {
  padding-right: 0;
}

/**
 * Menu Bar Right Menu
 */
.header-right-menu {
  font-size: 16px;
  margin: 0;
}
.header-right-menu > li {
  display: inline-block;
}
.header-right-menu > li > a,
.header-right-menu > li > .cart-menu-parent {
  text-decoration: none;
  padding: 28px 6px;
}
.header-right-menu > li.header-cart-menu a span:last-child:not(:first-child) {
  font-size: 11px;
  opacity: .8;
  margin-right: 8px;
  margin-left: 5px;
}
.header-right-menu > li.header-cart-menu .woocommerce-Price-currencySymbol {
  margin-right: 0;
}
.header-right-menu > li:last-child > a, .header-right-menu > li:last-child > .cart-menu-parent {
  padding-right: 0;
}

/**
 * Footer Menu
 */
#footer-menu {
  margin: 0;
  padding: 0;
  display: block;
  text-align: right;
}
@media (max-width: 767px) {
  #footer-menu {
    text-align: left;
  }
}
#footer-menu li {
  display: inline-block;
}
#footer-menu li a {
  padding: 0 8px;
  color: var(--mr-text-color);
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}
#footer-menu li a:hover {
  color: var(--mr-major-color);
}

/**
 * Dropdown Menu
 */
#secondary-menu li,
#primary-menu li,
#top-bar-menu li {
  position: relative;
}
#secondary-menu li.menu-item-has-children > a::after,
#primary-menu li.menu-item-has-children > a::after,
#top-bar-menu li.menu-item-has-children > a::after {
  margin-left: 10px;
  content: '\f107';
}
#secondary-menu li:hover > ul,
#primary-menu li:hover > ul,
#top-bar-menu li:hover > ul {
  visibility: visible;
  opacity: 1;
}
#secondary-menu li ul,
#primary-menu li ul,
#top-bar-menu li ul {
  position: absolute;
  z-index: 9;
  padding: 0;
  margin: 0;
  left: 0;
  background: #f0f0f0;
  top: 100%;
  width: 200px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
#secondary-menu li ul li,
#primary-menu li ul li,
#top-bar-menu li ul li {
  display: block;
}
#secondary-menu li ul li a,
#primary-menu li ul li a,
#top-bar-menu li ul li a {
  padding: 10px 20px;
  display: block;
}
#secondary-menu li ul li a:hover,
#primary-menu li ul li a:hover,
#top-bar-menu li ul li a:hover {
  background: rgba(0, 0, 0, 0.025);
}
#secondary-menu li ul li ul,
#primary-menu li ul li ul,
#top-bar-menu li ul li ul {
  top: 0;
  left: 100%;
}
#secondary-menu li ul li ul ul,
#primary-menu li ul li ul ul,
#top-bar-menu li ul li ul ul {
  left: auto;
  right: 100%;
}
#secondary-menu li ul li ul ul ul,
#primary-menu li ul li ul ul ul,
#top-bar-menu li ul li ul ul ul {
  right: auto;
  left: 100%;
}
#secondary-menu li ul li ul ul ul ul,
#primary-menu li ul li ul ul ul ul,
#top-bar-menu li ul li ul ul ul ul {
  left: auto;
  right: 100%;
}
#secondary-menu li ul li ul ul ul ul ul,
#primary-menu li ul li ul ul ul ul ul,
#top-bar-menu li ul li ul ul ul ul ul {
  right: auto;
  left: 100%;
}
#secondary-menu li ul li ul ul ul ul ul ul,
#primary-menu li ul li ul ul ul ul ul ul,
#top-bar-menu li ul li ul ul ul ul ul ul {
  left: auto;
  right: 100%;
}
#secondary-menu li ul li.menu-item-has-children > a,
#primary-menu li ul li.menu-item-has-children > a,
#top-bar-menu li ul li.menu-item-has-children > a {
  position: relative;
  padding-right: 25px;
}
#secondary-menu li ul li.menu-item-has-children > a::after,
#primary-menu li ul li.menu-item-has-children > a::after,
#top-bar-menu li ul li.menu-item-has-children > a::after {
  content: '\f105';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

#secondary-menu li ul,
#top-bar-menu li ul {
  left: auto;
  right: 0;
}
#secondary-menu li ul li a,
#top-bar-menu li ul li a {
  padding: 5px 20px;
}
#secondary-menu li ul li ul,
#top-bar-menu li ul li ul {
  top: 0;
  left: auto;
  right: 100%;
}
#secondary-menu li ul li ul ul,
#top-bar-menu li ul li ul ul {
  right: auto;
  left: 100%;
}
#secondary-menu li ul li ul ul ul,
#top-bar-menu li ul li ul ul ul {
  left: auto;
  right: 100%;
}

#secondary-menu li ul li a {
  padding: 7px 20px;
}

/**
 * Responsive Menu
 */
@media screen and (max-width: 767px) {
  button.menu-toggle {
    display: block !important;
  }
}
#masthead nav.responsive-menu {
  position: relative;
}
@media screen and (max-width: 767px) {
  #masthead nav.responsive-menu ul {
    display: none;
    position: absolute;
    width: 280px;
    z-index: 9;
    top: calc(100% + 20px);
    background: #f0f0f0;
    left: 0;
    border: 1px solid var(--mr-border-color);
    box-shadow: none;
  }
  #masthead nav.responsive-menu ul li {
    display: block;
    width: 100%;
  }
  #masthead nav.responsive-menu ul li.top-bar-custom-links {
    width: auto;
    display: inline-block;
  }
  #masthead nav.responsive-menu ul li.top-bar-custom-links a {
    padding: 7px;
  }
  #masthead nav.responsive-menu ul li a {
    display: block;
    padding: 10px 20px;
    width: 100%;
  }
  #masthead nav.responsive-menu ul li ul {
    visibility: visible;
    opacity: 1;
    background: #fff;
    position: static;
    box-shadow: none;
    border: 1px solid var(--mr-border-color);
    width: 95%;
    margin: 2.5%;
  }
}
#masthead nav.responsive-menu #top-bar-menu,
#masthead nav.responsive-menu #secondary-menu {
  left: auto;
  right: 0;
}

#open-user-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#open-user-modal .user-modal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: .8;
  top: 0;
  left: 0;
  z-index: -1;
}
#open-user-modal .user-modal-inner {
  width: 470px;
  background: #fff;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
  z-index: 1;
}
#open-user-modal .user-modal-tabs ul {
  margin: 0;
  padding: 0;
  display: flex;
}
#open-user-modal .user-modal-tabs ul li {
  flex-grow: 1;
  line-height: 30px;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--mr-major-color);
  color: #fff;
  cursor: pointer;
}
#open-user-modal .user-modal-tabs ul li.active {
  background: #fff;
  color: var(--mr-major-color);
}
#open-user-modal .user-modal-tabs .tab-content {
  display: none;
  padding: 30px 45px;
}
#open-user-modal .user-modal-tabs .tab-content.active {
  display: block;
}

form#lostpass label,
form#login label,
form#registration label {
  display: block;
}
form#lostpass input:not([type="checkbox"]),
form#login input:not([type="checkbox"]),
form#registration input:not([type="checkbox"]) {
  display: block;
  width: 100%;
}
form#lostpass input[type="checkbox"] + label,
form#login input[type="checkbox"] + label,
form#registration input[type="checkbox"] + label {
  display: inline-block;
}
form#lostpass .user-input-group:not(:last-of-type),
form#login .user-input-group:not(:last-of-type),
form#registration .user-input-group:not(:last-of-type) {
  margin-bottom: 15px;
}
form#lostpass .user-input-group a,
form#login .user-input-group a,
form#registration .user-input-group a {
  text-align: center;
  display: block;
}
form#lostpass p.status,
form#login p.status,
form#registration p.status {
  border-left: 4px solid var(--mr-major-color);
  padding-left: 10px;
  padding-right: 10px;
  background: #f7f7f7;
}
form#lostpass p.info,
form#login p.info,
form#registration p.info {
  line-height: 1.7;
  border-radius: 3px;
  margin-top: 10px;
}

/**
 * Footer Widget Area
 */
.footer-widget-area {
  background: #fafafa;
  padding-top: 60px;
  padding-bottom: 10px;
  border-top: 1px solid #ececec;
}
.footer-widget-area .widget-title {
  font-size: 17px;
  font-weight: 600;
  margin: 0 0 13px;
}
.footer-widget-area .widget.footer-widget {
  margin-bottom: 50px;
}

.widget ul {
  padding-left: 0;
  margin: 0;
}
.widget ul ul {
  padding-left: 15px;
}

.widget .nice-select span.current {
  max-width: 205px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

/**
 * Footer Main Area
 */
.footer-main {
  background: #ececec;
  padding: 30px;
}
.footer-main .site-info p {
  margin: 0;
}

/**
 * Sidebar & Widget Styles
 */
.widget a {
  text-decoration: underline;
  font-weight: 600;
  color: var(--mr-text-color);
}
.widget a:hover {
  color: var(--mr-major-color);
}

aside.widget-area {
  background: #fafafa;
  padding: 40px;
  border-radius: 4px;
  border: 1px solid var(--mr-border-color);
}
aside.widget-area .widget:not(:last-child) {
  margin-bottom: 50px;
}
aside.widget-area .widget-title {
  font-size: 17px;
  font-weight: 600;
  margin: 0 0 13px;
}
aside.widget-area .search-submit {
  margin-top: 15px;
  display: none;
}
aside.widget-area input[type="search"] {
  width: 100%;
  display: block;
}
aside.widget-area ul {
  padding-left: 0;
}
aside.widget-area ul ul {
  padding-left: 10px;
}

table#wp-calendar {
  border-collapse: collapse;
  text-align: center;
}

table#wp-calendar, table#wp-calendar * {
  border: 1px solid #ddd;
}

table#wp-calendar a {
  display: block;
  border: none;
}

table#wp-calendar caption {
  border-bottom: none;
}

.tagcloud a {
  font-size: inherit !important;
}
.tagcloud a:not(:last-child)::after {
  content: ', ';
  margin-right: 3px;
}

#commentform input,
#commentform label {
  display: block;
  width: 100%;
}
#commentform input[type="submit"] {
  display: inline-block;
  width: auto;
  margin-top: 15px;
}
#commentform input[type="checkbox"] {
  margin-right: 8px;
  display: inline-block;
  width: auto;
}
#commentform input[type="checkbox"] + label {
  display: inline-block;
  width: auto;
}

#comments .comments-title {
  border-bottom: 1px solid var(--mr-border-color);
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.comments-area {
  margin-top: 60px;
  font-size: 16px;
}
.comments-area .comment-list {
  padding-left: 0;
}
.comments-area .comment-list ol {
  margin-left: 0;
}
.comments-area .comment-body::before, .comments-area .comment-body::after {
  content: '';
  display: table;
  clear: both;
}
.comments-area .comment-body .comment-meta {
  width: 17.6470588235%;
  float: left;
  margin-right: 5.8823529412%;
  text-align: right;
}
.comments-area .comment-body .comment-meta .avatar {
  margin-bottom: 1em;
  max-width: 64px;
  height: auto;
  float: right;
}
.comments-area .comment-body .comment-meta cite {
  font-style: normal;
  clear: both;
  display: block;
}
.comments-area .comment-body .comment-meta a.comment-date {
  font-size: .875em;
}
.comments-area .comment-body .comment-content {
  width: 76.4705882353%;
  float: right;
  margin-right: 0;
  padding-bottom: 1.618em;
  margin-bottom: 1.618em;
}
.comments-area .comment-body .comment-content .comment-text {
  background: #f8f8f8;
  border: 1px solid var(--mr-border-color);
  padding: 20px;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .comments-area .comment-body .comment-meta,
  .comments-area .comment-body .comment-content {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
  }
  .comments-area .comment-body .comment-meta .avatar {
    float: none;
  }
}

#comments .comment-list .reply {
  padding-top: .6180469716em;
}
#comments .comment-list .reply a {
  margin-left: 12px;
}

@media (min-width: 768px) {
  .comment-list .reply {
    clear: both;
    text-align: right;
  }
}
.comment-list .comment-body #respond {
  box-shadow: 0 6px 2em rgba(0, 0, 0, 0.2);
  margin-bottom: 2.617924em;
  margin-top: -1.618em;
  background: #fafafa;
  border: 1px solid var(--mr-border-color);
}

#respond {
  clear: both;
  padding: 1.618em;
  background: #fafafa;
  position: relative;
  border: 1px solid var(--mr-border-color);
}
#respond .logged-in-as a:first-child {
  color: var(--mr-text-color);
  text-decoration: underline;
}

#respond #cancel-comment-reply-link {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 0;
}
#respond #cancel-comment-reply-link::before {
  content: "\f00d";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  right: 15px;
  top: 15px;
  height: 30px;
  width: 30px;
  background: var(--mr-major-color);
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

span#reply-title {
  display: block;
}

/*# sourceMappingURL=main.css.map */
