.maester-breadcrumb-area{
    padding: 25px;
    margin-bottom: 55px;
    .maester-breadcrumbs{
        font-size: 14px;
        .breadcrumbs__separator{
            padding: 0 6px;
        }
    }
}
