#top-bar-menu{
    margin: 0;
    padding: 0;
    font-size: 13px;
    li{
        display: inline-block;
        a{
            color: var(--mr-light-color);
            font-weight: 400;
            padding: 10px 5px;
            display: block;
            &:hover{
                color: var(--mr-major-color);
            }
        }
        &:last-child{
            padding-right: 0;
        }
    }
}

/**
 * Main Navigation Menu
 */
#secondary-menu,
#primary-menu{
    font-size: 16px;
    margin: 0;
    padding: 0;
    > li{
        display: inline-block;
        > a{
            padding: 28px 10px;
            display: inline-block;
            &:hover{
                text-decoration: underline;
            }
        }
        &:first-child > a{
            padding-left: 0;
        }
        &:last-child > a{
            padding-right: 0;
        }
    }
}


#secondary-menu{
    font-size: 14px;
    > li{
        > a{
            padding: 8px;
        }
        &:first-child > a{
            padding-left: 0;
        }
        &:last-child > a{
            padding-right: 0;
        }
    }
}

/**
 * Menu Bar Right Menu
 */

.header-right-menu{
    font-size: 16px;
    margin: 0;
    > li{
        display: inline-block;
        > a,
        > .cart-menu-parent {
            text-decoration: none;
            padding: 28px 6px;
        }
        &.header-cart-menu{
            a span:last-child:not(:first-child){
                font-size: 11px;
                opacity: .8;
                margin-right: 8px;
                margin-left: 5px;
            }
            .woocommerce-Price-currencySymbol{
                margin-right: 0;
            }
        }
        &:last-child > a,
        &:last-child > .cart-menu-parent{
            padding-right: 0;
        }
    }
}

/**
 * Footer Menu
 */

#footer-menu{
    margin: 0;
    padding: 0;
    display: block;
    text-align: right;
    @media (max-width: 767px) {
        text-align: left;
    }
    li{
        display: inline-block;
        a{
            padding: 0 8px;
            color: var(--mr-text-color);
            font-size: 12px;
            font-weight: 600;
            text-decoration: underline;
            &:hover{
                color: var(--mr-major-color);
            }
        }
    }
}

/**
 * Dropdown Menu
 */

#secondary-menu,
#primary-menu,
#top-bar-menu{
    li{
        position: relative;
        &.menu-item-has-children{
            > a{
                &::after{
                    @extend .fa-before;
                    margin-left: 10px;
                    content: '\f107';
                }
            }
        }
        &:hover > ul{
            visibility: visible;
            opacity: 1;
        }
        ul{
            position: absolute;
            z-index: 9;
            padding: 0;
            margin: 0;
            left: 0;
            background: #f0f0f0;
            top: 100%;
            width: 200px;
            visibility: hidden;
            opacity: 0;
            box-shadow: 0px 2px 5px rgba(0,0,0,.1);
            li{
                display: block;
                a{
                    padding: 10px 20px;
                    display: block;
                    &:hover{
                        background: rgba(0,0,0,.025);
                    }
                }
                ul{
                    top: 0;
                    left: 100%;
                    ul{
                        left: auto;
                        right: 100%;
                        ul{
                            right: auto;
                            left: 100%;
                            ul{
                                left: auto;
                                right: 100%;
                                ul{
                                    right: auto;
                                    left: 100%;
                                    ul{
                                        left: auto;
                                        right: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                &.menu-item-has-children > a{
                    position: relative;
                    padding-right: 25px;
                    &::after{
                        content: '\f105';
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

#secondary-menu,
#top-bar-menu{
    li ul {
        left: auto;
        right: 0;
        li{
            a{
                padding: 5px 20px;
            }
            ul{
                top: 0;
                left: auto;
                right: 100%;
                ul{
                    right: auto;
                    left: 100%;
                    ul{
                        left: auto;
                        right: 100%;
                    }
                }
            }
        }
    }
}


#secondary-menu{
    li ul li a{
        padding: 7px 20px;
    }
}

/**
 * Responsive Menu
 */

@media screen and (max-width: 767px){
    button.menu-toggle{
        display: block !important;
    }
}

#masthead nav.responsive-menu{
    position: relative;
    @media screen and (max-width: 767px) {
        ul{
            display: none;
            position: absolute;
            width: 280px;
            z-index: 9;
            top: calc(100% + 20px);
            background: #f0f0f0;
            left: 0;
            border: 1px solid var(--mr-border-color);
            box-shadow: none;
            li{
                display: block;
                width: 100%;
                &.top-bar-custom-links{
                    width: auto;
                    display: inline-block;
                    a{
                        padding: 7px;
                    }
                }
                a{
                    display: block ;
                    padding: 10px 20px ;
                    width: 100%;
                }
                ul{
                    visibility: visible ;
                    opacity: 1;
                    background: #fff;
                    position: static;
                    box-shadow: none;
                    border: 1px solid var(--mr-border-color);
                    width: 95%;
                    margin: 2.5%;
                }
            }
        }
    }
    #top-bar-menu,
    #secondary-menu{
        left: auto;
        right: 0;
    }
}