article.post-listing{
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: 0;
  .post-image{
    height: 192px;
    overflow: hidden;
    position: relative;
    text-indent: -99999px;
    background-size: cover;
    background-position: center center;
    a{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
    }
  }
}

.article-search{
  border-bottom: 1px solid var(--mr-border-color);
  margin-bottom: 0;
}

.post-column{
  margin-bottom: 30px;
}

.post-content-body{
  padding: 15px 15px 10px;
  border: 1px solid var(--mr-border-color);
  .entry-title {
    overflow: hidden;
    height: 2.5em;
    font-size: 20px;
    line-height: 1.25;
    margin: 5px 0 15px;
    font-weight: 600;
    a{
      color: var(--mr-heading-color);
    }
  }
  header{
    margin-bottom: 15px;
  }
  .entry-summary{
    margin: 0 0 20px;
    font-size: 15px;
    color: var(--mr-text-color);
  }
  .entry-footer {
    border-top: 1px solid var(--mr-border-color);
    padding: 10px 15px 0;
    margin: 0 -15px;
    .entry-meta{
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      font-style: italic;
      color: var(--mr-light-color);
      flex-wrap: wrap;
      a{
        font-style: normal;
        color: var(--mr-text-color);
        &:hover{
          color: var(--mr-major-color);
        }
      }
    }
  }
}

.tags-links,
.cat-links{
  font-size: 14px;
  a{
    color: var(--mr-text-color);
    text-decoration: underline;
    font-weight: 600;
    &:hover{
      color: var(--mr-major-color);
    }
  }
}


/**
 * Single Post Styles
 */

.maester-single-post-meta{
  font-size: 13px;
  a{
    color: var(--mr-text-color);
    font-weight: 600;
    text-decoration: underline;
    &:hover{
      color: var(--mr-major-color)
    }
  }
}

.maester-single-post {
  font-size: 16px;
  p{
    margin-bottom: 20px;
  }
  header{
    margin-bottom: 40px;
    border-bottom: 1px solid var(--mr-border-color);
  }
  footer.entry-footer{
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid var(--mr-border-color);
    > span{
      display: block;
    }
  }
}

.post-navigation{
  margin-top: 20px;
  .nav-links{
    display: flex;
    font-size: 16px;
    > div{
      flex-grow: 1;
      width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
      a{
        text-decoration: underline;
        color: var(--mr-text-color);
        padding: 0 20px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover{
          color: var(--mr-major-color);
        }
      }
      &:hover::before{
        color: var(--mr-major-color);
      }
      &::before{
        content: "\f30b";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &.nav-previous::before{
        content: "\f30a";
        left: 0;
        right: auto;
      }
      
      
      &.nav-next{
        text-align: right;
      }
      
    }
  }
}

article.article-search h2.entry-title a{
  color: var(--mr-heading-color);
  font-weight: 500;
}

/**
 *  Post Pagination
 */

nav.navigation.pagination{
    .nav-links{
        text-align: center;
        font-size: 16px;
        a,
        span{
            padding: 5px;
        }
    }
}
