.tutor-container{
	width: 1140px;
}

.tutor-wrap.tutor-dashboard{
	padding: 60px 0;
}

.tutor-wrap.tutor-full-width-course-top{
	padding-bottom: 60px;
}

.single-courses .tutor-wrap .maester-breadcrumb-area{
	display: none;
}